@use "global" as *;

.layout-column {
  @include mq("md") {
    display: flex;
  }
}

.layout-column__main {
  @include mq("md") {
    flex: 0 0 rem(706);
  }
}

.layout-column__side {
  margin: rem(80) auto 0;
  width: calc(295 / 345 * 100%);
  @include mq("md") {
    margin: 0 0 0 auto;
    flex: 0 0 rem(295);
  }
}
