@use "sass:math";

// インナー幅設定
$inner: 1080px;
$inner-sm: 576px;

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", sans-serif;
$second-font-family: "Gotu", sans-serif;
$third-font-family: "Playfair Display", serif;

// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定
$black: #000;
$white: #fff;
$color-main: #4b5320;
$color-sub: #dfe0d6;
$color-accent: #d3a625;
$color-font: #333;

$opacity: 0.7;

body {
  color: $color-font;
  font-family: $base-font-family;
  font-weight: $regular;
}
