@use "global" as *;

.archive-campaign__items {
  margin: rem(40) auto 0;
  width: calc(280 / 345 * 100%);
  @include mq("md") {
    margin: rem(40) 0 0;
    width: 100%;
  }
}

.archive-campaign__pagination {
  margin-top: rem(80);
  text-align: center;
}
