@use "global" as *;

.blog {
  @include mq("md") {
    position: relative;
    padding-top: rem(100);
  }
}

.blog::before {
  @include mq("md") {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(500);
    background-image: url(../images/top/img-blog-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.blog__items {
  margin-top: rem(28);
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);
  @include mq("md") {
    margin-top: rem(80);
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog__item {
  margin: auto;
}

.blog__button {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
