@use "global" as *;

.blog {
  @include mq("md") {
    position: relative;
    padding-top: rem(100);
  }
}

.blog::before {
  @include mq("md") {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(500);
    background-image: url(../images/top/img-blog-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.blog::after {
  @include mq("md") {
    content: "";
    display: block;
    position: absolute;
    top: rem(24);
    left: calc(50% - min((50vw - 25px), rem(620)));
    width: rem(437);
    height: rem(201);
    background-image: url(../images/top/img-blog-bg-deco.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.blog__items {
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.blog__button {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
