@use "global" as *;

.button {
  padding: rem(20) rem(4) rem(24) 0;
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: rem(206);
  color: $white;
  font-family: $second-font-family;
  font-size: rem(14);
  line-height: 1;
  z-index: 10;
}

.button--white {
  color: $c-main;
}

.button:hover {
  @include mq("md") {
    color: $c-main;
  }
}

.button--white:hover {
  @include mq("md") {
    color: $white;
  }
}

.button::after {
  margin: rem(1) 0 0 rem(7);
  content: "";
  width: rem(42);
  height: rem(8);
  mask-image: url(../images/common/icon-button.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: $white;
}

.button--white::after {
  background-color: $c-main;
}

.button:hover::after {
  background-color: $c-main;
}

.button--white:hover::after {
  background-color: $white;
}

.button span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - rem(4));
  height: calc(100% - rem(4));
  background-color: $c-main;
  border: 1px solid $c-main;
  z-index: -1;
}

.button--white span {
  background-color: $white;
  border-color: $white;
}

.button span::before {
  content: "";
  display: block;
  position: absolute;
  top: rem(4);
  left: rem(4);
  width: 100%;
  height: 100%;
  border: 1px solid $c-main;
}

.button--white span::before {
  border-color: $white;
}

.button span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}

.button--white span::after {
  background-color: $c-main;
}

.button:hover span::after {
  @include mq("md") {
    transform: scaleX(1);
  }
}
