@use "global" as *;

.common-page__inner.inner {
  margin: auto;
  max-width: rem(850);
}

.common-page__title {
  font-size: rem(24);
  font-weight: $medium;
  line-height: calc(35 / 24);
  @include mq("md") {
    font-size: rem(32);
    line-height: calc(46 / 32);
  }
}

.common-page__content {
  margin-top: rem(40);
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(32 / 16);

  p:empty {
    margin-top: 2em;
  }

  ol {
    padding-left: 1.4em;
    list-style: number;
  }

  li {
    padding-left: 0.1em;
  }
}
