@use "global" as *;

.mv {
  position: relative;
  height: 100vh;
  z-index: 10;
}

.mv__inner {
  height: inherit;
}

.mv__title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: $white;
  text-align: center;
  z-index: 20;
}

.mv__main-title {
  font-family: $third-font-family;
  font-size: rem(40);
  font-weight: $regular;
  line-height: calc(48 / 40);
  letter-spacing: calc(21.6 / 40 * 1em);
  text-indent: calc(21.6 / 40 * 1em);
  @include mq("md") {
    font-size: vw(1440, 80);
    line-height: calc(100 / 80);
    letter-spacing: calc(43.2 / 80 * 1em);
    text-indent: calc((43.2 / 80 * 1em));
  }
}

.mv__sub-title {
  font-family: $second-font-family;
  font-size: rem(20);
  font-weight: $regular;
  line-height: calc(33 / 20);
  @include mq("md") {
    font-size: vw(1440, 20);
    line-height: calc(33 / 20);
  }
}

.mv__swiper {
  height: inherit;
}

.mv__img {
  height: inherit;
}

.mv__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mv__swiper .swiper-slide-active .mv__img.is-animation,
.mv__swiper .swiper-slide-duplicate-active .mv__img.is-animation,
.mv__swiper .swiper-slide-prev .mv__img.is-animation {
  animation: scale 8s linear normal both;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
