@use "global" as *;

.ornament {
  position: relative;
}

.ornament::before {
  content: "";
  display: block;
  position: absolute;
  top: rem(-40);
  left: calc(50% - (50vw - 15px));
  width: rem(100);
  height: rem(45);
  mask-image: url(../images/common/deco01.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: $c-main;
  z-index: -1;
  @include mq("md") {
    top: rem(-120);
    left: calc(50% - min((50vw - 25px), rem(620)));
    width: rem(300);
    height: rem(140);
  }
}
