@use "global" as *;

.sp-nav {
  display: flex;
  padding: rem(92) rem(15) rem(104);
  height: 100%;
}

.sp-nav__wrap {
  flex: 0 0 50%;
}

.sp-nav__item {
  position: relative;
}

.sp-nav__item + .sp-nav__item {
  margin-top: rem(16);
}
.sp-nav__item a {
  position: relative;
  display: block;
  padding: rem(12) 0 rem(12) rem(22);
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(18 / 16);
  color: $white;
}
.sp-nav__item > a::before {
  content: "";
  display: block;
  position: absolute;
  top: rem(12);
  left: 0;
  width: rem(18);
  height: rem(18);
  mask-image: url(../images/common/icon-list.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: $white;
}

.sp-nav__sub-item > a {
  font-weight: $regular;
}
