@use "global" as *;

.sub-mv {
  position: relative;
  height: rem(460);
  background-size: cover;
  @include mq("md") {
    height: rem(548);
  }
}

.sub-mv::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(64, 143, 149, 0.3);
}

.sub-mv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  font-weight: $regular;
  font-family: $third-font-family;
  font-size: rem(40);
  line-height: calc(48 / 40);
  @include mq("md") {
    top: rem(274);
    transform: translateX(-50%);
    font-size: rem(80);
    line-height: calc(100 / 80);
  }
}

.sub-mv--campaign {
  background-image: url(../images/sub-mv/img-campaign-sp.webp);
  @include mq("md") {
    background-image: url(../images/sub-mv/img-campaign-pc.webp);
  }
}

.sub-mv--about {
  background-image: url(../images/sub-mv/img-about-sp.webp);
  @include mq("md") {
    background-image: url(../images/sub-mv/img-about-pc.webp);
  }
}

.sub-mv--info {
  background-image: url(../images/sub-mv/img-info-sp.webp);
  @include mq("md") {
    background-image: url(../images/sub-mv/img-info-pc.webp);
  }
}

.sub-mv--blog {
  background-image: url(../images/sub-mv/img-blog-sp.webp);
  @include mq("md") {
    background-image: url(../images/sub-mv/img-blog-pc.webp);
  }
}

.sub-mv--voice {
  background-image: url(../images/sub-mv/img-voice-sp.webp);
  @include mq("md") {
    background-image: url(../images/sub-mv/img-voice-pc.webp);
  }
}

.sub-mv--price {
  background-image: url(../images/sub-mv/img-price-sp.webp);
  @include mq("md") {
    background-image: url(../images/sub-mv/img-price-pc.webp);
  }
}

.sub-mv--faq {
  background-image: url(../images/sub-mv/img-faq-sp.webp);
  @include mq("md") {
    background-image: url(../images/sub-mv/img-faq-pc.webp);
  }
}

.sub-mv--contact {
  background-image: url(../images/sub-mv/img-contact-sp.webp);
  @include mq("md") {
    background-image: url(../images/sub-mv/img-contact-pc.webp);
  }
}

.sub-mv--common {
  background-image: url(../images/sub-mv/img-common-sp.webp);
  @include mq("md") {
    background-image: url(../images/sub-mv/img-common-pc.webp);
  }
}
