@use "global" as *;

.sub-mv {
  position: relative;
  height: rem(460);
  background-size: cover;
  background-position: center;
  @include mq("md") {
    height: rem(548);
  }
}

.sub-mv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: $white;
  font-weight: $bold;
  font-family: $second-font-family;
  font-size: rem(40);
  line-height: calc(48 / 40);
  text-shadow: 1px 1px 3px #444;
  @include mq("md") {
    top: rem(274);
    transform: translateX(-50%);
    font-size: rem(80);
    line-height: calc(100 / 80);
  }
}

.sub-mv--campaign {
  background-image: url(../images/sub-mv/campaign.webp);
}

.sub-mv--about {
  background-image: url(../images/sub-mv/about.webp);
}

.sub-mv--info {
  background-image: url(../images/sub-mv/information.webp);
}

.sub-mv--blog {
  background-image: url(../images/sub-mv/blog.webp);
}

.sub-mv--voice {
  background-image: url(../images/sub-mv/voice.webp);
}

.sub-mv--price {
  background-image: url(../images/sub-mv/price.webp);
}

.sub-mv--faq {
  background-image: url(../images/sub-mv/faq.webp);
}

.sub-mv--contact {
  background-image: url(../images/sub-mv/contact.webp);
}

.sub-mv--common {
  background-image: url(../images/sub-mv/common.webp);
}
