@use "global" as *;

.sub-contact {
  padding-bottom: rem(144);
  @include mq("md") {
    padding-bottom: rem(160);
  }
}

.sub-contact__inner.inner {
  margin: auto;
  max-width: rem(510);
  @include mq("md") {
    max-width: rem(750);
  }
}
