@use "global" as *;

.tab {
  display: flex;
  flex-wrap: wrap;
  gap: rem(16) min(calc(21 / 345 * 100%), rem(21));
  @include mq("md") {
    justify-content: start;
    gap: rem(16) rem(32);
  }
}

.tab__item {
  padding-block: rem(9);
  width: min(calc(162 / 345 * 100%), rem(162));
  color: $c-main;
  font-size: rem(14);
  line-height: 1;
  text-align: center;
  background-color: $white;
  border: 1px solid $c-main;
  transition: color 0.3s, background 0.3s;
}

.tab__item.is-active {
  color: $white;
  background-color: $c-main;
}

.tab__item:hover {
  @include mq("md") {
    color: $white;
    background-color: $c-main;
  }
}
