@use "global" as *;

.voice {
  @include mq("md") {
    position: relative;
  }
}

.voice::before,
.voice::after {
  @include mq("md") {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.voice::before {
  @include mq("md") {
    top: rem(-120);
    left: calc(50% - min((50vw - 25px), rem(620)));
    width: rem(200);
    height: rem(200);
    background-image: url(../images/common/deco05.svg);
  }
}

.voice::after {
  @include mq("md") {
    bottom: rem(-160);
    right: calc(50% - min((50vw - 25px), rem(540)));
    width: rem(200);
    height: rem(200);
    background-image: url(../images/common/deco06.svg);
  }
}

.voice__items {
  margin-top: rem(44);
  @include mq("md") {
    margin-top: rem(30);
  }
}

.voice__button {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
