@use "global" as *;

.voice {
  @include mq("md") {
    position: relative;
  }
}

.voice::before,
.voice::after {
  @include mq("md") {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.voice::before {
  @include mq("md") {
    top: rem(-120);
    left: calc(50% - min((50vw - 25px), rem(620)));
    width: rem(301);
    height: rem(138);
    background-image: url(../images/top/img-voice-deco01.svg);
  }
}

.voice::after {
  @include mq("md") {
    bottom: rem(-67);
    right: calc(50% - min((50vw - 25px), rem(540)));
    width: rem(71);
    height: rem(162);
    background-image: url(../images/top/img-voice-deco02.svg);
  }
}

.voice__items {
  margin-top: rem(44);
  grid-template-columns: 1fr;
  gap: rem(40);
  @include mq("md") {
    margin-top: rem(30);
    grid-template-columns: repeat(2, 1fr);
  }
}

.voice__button {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
