@use "global" as *;

.wp-pagenavi {
  display: flex;
  justify-content: center;
  gap: rem(12);
}

.wp-pagenavi a,
.wp-pagenavi span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(38);
  height: rem(38);
  color: $color-main;
  font-family: $second-font-family;
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1;
  border: 1px solid $color-main;
  background-color: $white;
  transition: color 0.3s, background 0.3s;
}

.wp-pagenavi .current {
  color: $white;
  background-color: $color-main;
}

.wp-pagenavi a:hover {
  @include mq("md") {
    color: $white;
    background-color: $color-main;
  }
}

.wp-pagenavi .previouspostslink {
  margin-right: rem(28);
  position: relative;
}

.wp-pagenavi .previouspostslink::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: rem(15);
  width: rem(10);
  height: rem(10);
  border-top: 1px solid $color-main;
  border-left: 1px solid $color-main;
  transform: translateY(-50%) rotate(-45deg);
}

.wp-pagenavi .nextpostslink {
  margin-left: rem(28);
  position: relative;
}

.wp-pagenavi .nextpostslink::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: rem(15);
  width: rem(10);
  height: rem(10);
  border-top: 1px solid $color-main;
  border-right: 1px solid $color-main;
  transform: translateY(-50%) rotate(45deg);
  transition: border 0.3s;
}

.wp-pagenavi .previouspostslink:hover::before,
.wp-pagenavi .nextpostslink:hover::before {
  @include mq("md") {
    border-color: $white;
  }
}
